@model Garage2._0.Models.Vechicle
@{
    ViewBag.Title = "Statistics";
}
<h2>Statistics</h2>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Garage stats</div>
    <div id="statistic">
        <h3>Number of vehicles of each type:</h3>
        <p>Airplanes:<span class="badge">@Html.Encode(ViewData["NrOfAirplanes"])</span></p>
        <p>Boats:<span class="badge">@Html.Encode(ViewData["NrOfBoats"])</span></p>
        <p>Buses:<span class="badge">@Html.Encode(ViewData["NrOfBuses"])</span></p>
        <p>Cars:<span class="badge">@Html.Encode(ViewData["NrOfCars"])</span></p>
        <p>Motorcycles:<span class="badge">@Html.Encode(ViewData["NrOfMotorcycles"])</span></p>
        <br />
        <h3>Total number of wheels in the garage:<span class="badge"> @Html.Encode(ViewData["NumberOfWheels"])</span></h3>
        <br />
        <h3>How much all vehicles in the garage have parked for at this moment:</h3>
        <p>Total number of minutes that can be debited: </p>
        <p>Current parking price per minute:<span class="badge"> 1 SEK</span></p>
        <p>Sum:<span class="badge"> @Html.Encode(ViewData["TotalCost"]) SEK</span></p>
    </div>
</div>