@model IEnumerable<Garage2._0.Models.Vechicle>
@using System.Drawing;


@{
    ViewBag.Title = "Index";
    
}
<h4 id="ParkingSpots">Currently free parking spots: <span class="badge">@TempData["NrOfFreeSpots"]</span> of <span class="badge">@TempData["GarageSize"]</span></h4>
<h3 id="checkInButton">
    <input class="btn btn-default" type="button" value="Check in new vehicle" onclick="location.href='@Url.Action("CheckIn")'" />
</h3>
@if (TempData["Message"] != null)
{
    <div class="TempData alert alert-success "><h4>
    @TempData["Message"]
                        </h4>
    </div>
}
<br />
<h4>Vehicles in the garage:</h4>

<div class="panel panel-primary">
    
    <div class="panel-heading">Parked vehicles</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Vehicle Type", "Index", new { sort = ViewBag.VechicleSortParm })
            </th>
        <th>
            @Html.ActionLink("Reg Number", "Index", new { sort = ViewBag.RegNoSortParm })


            </th>
            
        <th>
            @Html.ActionLink("Brand", "Index", new { sort = ViewBag.BrandSortParm })


            </th>
        <th>
            @Html.ActionLink("Parking Time", "Index", new { sort = ViewBag.ParkingTimeSortParm })


            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VechicleType)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingTime)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Check Out", "CheckOut", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>

<h4 id="Full">@TempData["TooFewParkingSpots"]</h4>
