@model IEnumerable<Garage2._0.Models.Vechicle>

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel panel-primary">

    <div class="panel-heading">Parked vehicles</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VechicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfWeels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VechicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrOfWeels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>

            </tr>
        }

    </table>
    </div>
