@model Garage2._0.Models.SearchViewModel


@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
                <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RegNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group">
            @Html.LabelFor(model => model.VechicleType, htmlAttributes: new { @class = "control-label col-md-2" })
                &nbsp;&nbsp;&nbsp;
            @*<div class="form-control col-md-10 SearchLabels" >*@
                <select name="vehicleType">
                    <option value="Exclude"></option>
                    <option value="Car">Car</option>
                    <option value="Bus">Bus</option>
                    <option value="Boat">Boat</option>
                    <option value="Airplane">Airplane</option>
                    <option value="Motorcycle">Motorcycle</option>
                </select>
                @*@Html.EnumDropDownListFor(model => model.VechicleType, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.VechicleType, "", new { @class = "text-danger" })
            @*</div>*@
            </div>

         <div class="form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
             &nbsp;&nbsp;&nbsp;
            @*<div class="form-control col-md-10 ">*@
                <select name="color">
                    <option value="Exclude"></option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Blue">Blue</option>
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Grey">Grey</option>
                    <option value="Orange">Orange</option>
                    <option value="Pink">Pink</option>
                    <option value="Silver">Silver</option>
                    <option value="Gold">Gold</option>
                </select>
                @*@Html.EnumDropDownListFor(model => model.VechicleType,  new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.VechicleType, "", new { @class = "text-danger" })
            @*</div>*@
             </div>

               
     


          

            <div class="form-group">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NrOfWeels, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NrOfWeels, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NrOfWeels, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
